* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
}
h1 {
  color: var(--primary-color);
}
